extends templates/_layout
block content
        //- bandeau Esa
        mj-section(padding='0')
            mj-column(width='600px')
                mj-image(alt='+40 postes à pourvoir en alternance chez nos entreprises partenaires' src='https://i.ibb.co/PmvMPfV/bandeau-Let.gif')/
        //- logo Ecosup Assurance
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='250px')
                mj-image(src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(font-size='16px' font-weight='300' line-height='20px' color='#2D3748') #[strong {{contact.PRENOM}}] cette annonce correspond à votre recherche d'une alternance dans les métiers de l'assurance et de la banque.
                mj-text(align='center' font-size='16px' font-weight='900' line-height='20px' color='#684092' text-transform='uppercase' padding-top='0' padding-bottom='0') #[span(style='color:#D30000;') Poste] à la une 
                mj-text(align='center' font-size='38px' font-weight='300' line-height='42px' color='#684092') Gestionnaire négociateur (sinistre)
        //- Entreprise Lieu Durée
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='50px')
                mj-image(padding='10px 0' alt='Icon Entreprise' src='https://i.ibb.co/1GKXZN1/Entreprise04-Assurance.png')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-bottom='0') #[strong(style='color:#684092;text-transform:uppercase') Entreprise :] Assureur spécialisé dans les secteurs du bâtiment et des travaux publics propose d'intégrer l'équipe #[strong Résolution Client Spécifique] dont la mission est de gérer l'ensemble des flux #[strong Relation Client]
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') #[strong(style='color:#684092;text-transform:uppercase') Lieu :] Marcq-en-Baroeul
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-bottom='0' padding-top='0') #[strong(style='color:#684092;text-transform:uppercase') Durée :] 12 mois
        //- Mission
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='50px')
                mj-image(padding='10px 0' alt='Icon mission' src='https://i.ibb.co/K7Q2WDH/Fusee04-Assurance.png')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') #[strong Missions :]
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0')
                    ul(style='margin-top: 0;') 
                        li Je vérifie et rassemble les pièces nécessaires au dossier et procède à son ouverture informatique,
                        li J'étudie de manière approfondie les garanties du contrat et les déclarations de l'assuré,
                        li Je désigne et mandate, le cas échéant, l'expert le plus approprié,
                        li J'analyse les rapports, je prends position et éventuellement j'applique les conventions,
                        li J'informe régulièrement le sociétaire et la hiérarchie du déroulement du dossier,
                        li Je propose et procède aux réglements, dans la limite de mes pouvoirs, et aux opérations de recours.
        //- call to action
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='500px')
                mj-button(css-class='hover' href='https://ecosup-assurance.fr/gestionnaire-negociateur-sinistres/') Postuler Maintenant
